html{
  scroll-behavior: smooth;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .slide-down {
    animation: slideDown 0.3s ease forwards;
  }

  @keyframes slideDown {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

/* Target elemen scroll: div */
#scrollTabs::-webkit-scrollbar {
  height: 10px;
}

#scrollTabs::-webkit-scrollbar-track {
  background: #1e293b;
}

#scrollTabs::-webkit-scrollbar-thumb {
  background: #0d948929;
}

#scrollTabs::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
